name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: TeixeiraDevz
          filename: assets/github-metrics.svg
          output_action: commit
          committer_message: "chore(readme): update github metrics"

          # Uma configuração inicial bonita e leve (pode ajustar depois)
          template: classic
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

